{% extends 'main.html' %}
{% block extra_styles %}
    <style>
        /* 네비게이션 메뉴 숨기기 */
        #nav {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="header-bar">
        <h1>오늘, 내일</h1>
    </div>

    <div class="card-body">
        <form action="" method="post">
            <label>ID:</label>
            <input type="email" name="email">

            <label>Password:</label>
            <input type="password" name="password">

            <input style="margin-top: 10px;" class="button" type="submit" value="Login">
        </form>
        <p>Don't Have An Account? <a href="{{ url_for('auth.sign_up') }}">Register</a></p>
    </div>

{% endblock %}
